<div class="card">
   <div class="card-body">
      <div class="d-flex">
          <spam class="flex-grow-1 fw-bold">Nome do Cliente</spam>
          <spam> <%= order.customer.name %></spam>
      </div>

      <div class="d-flex">
         <spam class="flex-grow-1 fw-bold">Equipamento</spam>
         <spam> <%= equipament.name %></spam>
      </div>

   </div>
</div>