<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow rounded">
        <div class="card-body">
          <h2 class="text-center mb-4">Olá! <%= @resource.email %>!</h2>

          <% if @resource.try(:unconfirmed_email?) %>
            <p>Estamos entrando em contato com você para notificá-lo de que seu e-mail será alterado para <%= @resource.unconfirmed_email %>.</p>
          <% else %>
            <p>Estamos entrando em contato com você para notificá-lo de que seu e-mail foi alterado para <%= @resource.email %>.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
